streamlit
reportlab
torch 
torchvision 
torchaudio 
numpy
pandas
pdfplumber
PyPDF2
python-dotenv
requests
spacy
transformers
plotly
altair
matplotlib
scikit-learn
nltk
safetensors
tqdm
joblib
google.generativeai