streamlit
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
numpy
pandas
pdfplumber
PyPDF2
python-dotenv
requests
spacy
transformers
plotly
altair
matplotlib
scikit-learn
nltk
safetensors
tqdm